<h1>Movies</h1>

<table class="table">
	<tr>
		<th>Title</th>
		<th>Release</th>
	</tr>
	<% @movies.each do |movie| %>
		<tr>
			<td><%= link_to(movie.title, "/movies/#{movie.id}") %></td>
			<td><%= movie.release_date %></td>
		</tr>
	<% end %>	
</table>
